.container {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 330px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.error {
  color: #d5294d;
  font-size: 14px;
}

.btnContainer {
  display: flex;
}
