.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 4px;
  padding-right: 16px;
  padding-left: 16px;
}
