.container {
  margin-bottom: 30px;
}

.lable {
  margin-bottom: 8px;
}

.inputSearch {
  width: 330px;
  background-color: #ffffff;
  color: #2e5476;
  border: 1px solid #4a83ad;
  border-radius: 6px;
  padding: 6px 10px;
  outline: transparent;
  outline-offset: 4px;
}

.inputSearch:hover,
.inputSearch:active {
  border-color: #386a91;
}
