.container {
  min-width: 360px;
  max-width: 1046px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.form {
  background-color: #ffffff;
  border-radius: 14px;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 440px;
}

@media screen and (max-width: 767px) {
  .mainBox {
    display: block;
  }
  .form {
    min-width: 250px;
  }
}
