.container {
  min-width: 360px;
  max-width: 1046px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.form {
  background-color: #ffffff;
  border-radius: 14px;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 250px;
  max-width: 440px;
}

.mainBox {
  background-color: #ffffff;
  padding: 36px;
  margin-top: 120px;
  border-radius: 28px;
}

@media screen and (min-width: 768px) {
  .mainBox {
    display: flex;
    justify-content: space-between;
  }

  .form {
    min-width: 440px;
  }
}
