.container {
  background-color: #ccddeb;
  padding: 12px 12px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mainContainer {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  background-color: #386a91;
}

.icon {
  margin-right: 10px;
  vertical-align: text-top;
}

.btnDel {
  padding: 6px 10px;
  background-color: #ea546c;
  background-color: #f27a8a;
  color: #f4f7fb;
  border: none;
  border-radius: 6px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btnAdd {
  padding: 6px 10px;
  background-color: #4a83ad;
  color: #f4f7fb;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btnDel:hover {
  background-color: #d5294d;
  background-color: #ea546c;
}
