.container {
  background-color: #ccddeb;
  padding: 12px 12px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mainContainer {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6px;
  background-color: #386a91;
}

.contactName {
  font-size: 20px;
  font-weight: 700;
}

.contactNumber {
  font-size: 20px;
}

.icon {
  margin-right: 10px;
  vertical-align: text-top;
}

.btnContainner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnDel {
  padding: 8px;
  background-color: #f27a8a;
  color: #f4f7fb;
  border: none;
  border-radius: 6px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btnDel:hover {
  background-color: #ea546c;
}

.btnEdit {
  composes: btnDel;
  background-color: #4a83ad;
}

.btnEdit:hover {
  background-color: #386a91;
}

.editIcon,
.deletIcon {
  vertical-align: top;
}
