.container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.icon {
  margin-right: 10px;
  vertical-align: text-top;
}

.btnDel {
  padding: 6px 10px;
  background-color: #efefef;
  color: #242424;
  border: solid 1px gray;
  border-radius: 5px;
}
