.wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.username {
  font-weight: 700;
}

.logoutBtn {
  padding: 8px 10px;
  background-color: #4a83ad;
  color: #f4f7fb;
  border: none;
  border-radius: 6px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutBtn:hover {
  background-color: #386a91;
}
